@model PetShop.Data.Pet

@{
    ViewData["Title"] = "Tạo đơn hàng";
    Layout = "_AdminLayout";
}

<hr />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách đơn hàng</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ThuCung" class="control-label"></label>
                            <input asp-for="ThuCung" class="form-control" />
                            <span asp-validation-for="ThuCung" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NgayMua" class="control-label"></label>
                            <input asp-for="NgayMua" class="form-control" />
                            <span asp-validation-for="NgayMua" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="GiongLoai" class="control-label"></label>
                            <input asp-for="GiongLoai" class="form-control" />
                            <span asp-validation-for="GiongLoai" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Gia" class="control-label"></label>
                            <input asp-for="Gia" class="form-control" />
                            <span asp-validation-for="Gia" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="GioiTinh" class="control-label pr-3"></label>
                            <label class="pr-3">
                                <input type="radio" name="GioiTinh" value="Đực" />Đực
                            </label>
                            <input type="radio" name="GioiTinh" value="cái" />Cái
                            <span asp-validation-for="GioiTinh" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProfilePicture" class="control-label"></label>
                            <input asp-for="ProfilePicture" class="form-control" />
                            <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Tạo" class="btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
            <div class="pt-2">
                <a asp-action="Index" class="btn btn-primary">Trở về</a>
            </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
