@model PetShop.Data.Pet

@{
    ViewData["Title"] = "Tạo đơn hàng";
}
<link rel="stylesheet" href="~/css/form.css" />

<h1>Tạo đơn hàng</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ThuCung" class="control-label"></label>
                    <input asp-for="ThuCung" class="form-control" />
                    <span asp-validation-for="ThuCung" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NgayMua" class="control-label"></label>
                    <input asp-for="NgayMua" class="form-control" />
                    <span asp-validation-for="NgayMua" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GiongLoai" class="control-label"></label>
                    <input asp-for="GiongLoai" class="form-control" />
                    <span asp-validation-for="GiongLoai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gia" class="control-label"></label>
                    <input asp-for="Gia" class="form-control" />
                    <span asp-validation-for="Gia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GioiTinh" class="control-label pr-3"></label>
                    <label class="pr-3">
                        <input type="radio" name="GioiTinh" value="Đực" />Đực
                     </label>
                        <input type="radio" name="GioiTinh" value="cái" />Cái
                        <span asp-validation-for="GioiTinh" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Tạo" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="pt-2">
    <a asp-action="Index" class="btn btn-primary">Trở về</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
