@model IEnumerable<PetShop.Data.Pet>

@{
    ViewData["Title"] = "Trang Chủ";
}

    <div class="shadow-lg">
       <img src="https://happypaws.vn/wp-content/uploads/banner-welcome.png" width="100%"/>
    </div>

    <div class="headline">
        <h3>Cún bán phổ biến</h3>
        <button class="btn1 bg-warning"></button>
    </div>
    
    <div class="row">
            @foreach (var item in Model.Where(b => b.GiongLoai == "Chó"))
            {
                <partial name="ProductTemplate" model="item" />
            }
    </div>

    <div class="text-right mt-2">
        <a class="btn btn-primary" asp-action="ThuCung" asp-controller="Home">Xem thêm<i class="fas fa-angle-right ml-2"></i></a>
    </div>
        <div class="headline">
            <h3>Mèo bán phổ biến</h3>
            <button class="btn1 bg-warning"></button>
        </div>

        <div class="row">
            @foreach (var item in Model.Where(b => b.GiongLoai == "Mèo"))
            {
                <partial name="ProductTemplate" model="item" />
            }
        </div>
        <div class="text-right mt-2">
            <a class="btn btn-primary" asp-action="ThuCung" asp-controller="Home">Xem thêm<i class="fas fa-angle-right ml-2"></i></a>
        </div>