@{
    ViewData["Title"] = "Danh Mục";
}

@model PetShop.Models.ViewModels.PetListViewModel

@section breadcrum{
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><i class="fa fa-home pr-1"></i><a class="text-decoration-none" asp-action="Index" asp-controller="Home">Trang Chủ</a> <span class="mx-2 mb-0">/</span> <i class="fas fa-paw pr-1"></i> <strong class="text-black">Thú Cưng</strong></div>
            </div>
        </div>
    </div>
}
<form asp-controller="Home" asp-action="TimKiemSanPham" method="get">
    <div class="dropdown text-right p-2">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Lọc
        </button>
        <div class="dropdown-menu p-4 bg-warning" aria-labelledby="dropdownMenuButton">
            <div class="my-3 ">
                <strong>Lọc theo giá</strong><br />
                <input type="number" name="minPrice" step="1" placeholder="Cao hơn" class="form-control-sm col-5" />&nbsp;&#8212;&nbsp;<input type="number" name="maxPrice" step="1" placeholder="Thấp hơn" class="form-control-sm col-5" />
            </div>
            <div class="my-3">
                <strong>Lọc theo thời gian</strong><br />
                <input type="datetime" name="StartDate" placeholder="Ngày bắt đầu" class="form-control-sm col-5" />&nbsp;&#8212;&nbsp;<input type="datetime" name="EndDate" placeholder="Ngày kết thúc" class="form-control-sm col-5" />
            </div>
            <button class="btn btn-primary" type="submit">Lọc</button>
        </div>
    </div>
</form>

    <div class="row m-1 p-1">

        <div id="categories" class="col-3">
            <div class="border p-4 rounded mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Danh mục</h3>
                <div>
                    <vc:species-navigation />
                </div>
            </div>

            <div class="border p-4 rounded mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Tìm kiếm</h3>
                <form asp-controller="Home" asp-action="TimKiemSanPham" method="get">
                    <input class="form-control mb-2" placeholder="Tìm kiếm" type="text" name="SearchString">
                    <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>

        @foreach (var item in Model.Pet)
        {
            <div class="col-3" data-aos="fade-up">
                <div class="card my-2 store-card">
                    <a class="a-cleanup" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                        <img src="@item.ProfilePicture" class="card-img-top card-img-custom">
                    </a>
                    <div class="card-body">
                        <partial name="CartTemplate" model="item" />
                    </div>
                </div>
            </div>
        }
    </div>

    <div page-model="@Model.PagingInfo" page-action="ThuCung" page-classes-enabled="true"
         page-class="btn border" page-class-normal="btn-outline-primary"
         page-class-selected="btn-primary" page-url-species="@Model.CurrentSpecies" class="btn-group pull-right m-1 pl-4">
    </div>

