@{
    ViewData["Title"] = "Danh Mục";
}

@model PetShop.Models.ViewModels.PetListViewModel

@section breadcrum{
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><i class="fa fa-home pr-1"></i><a class="text-decoration-none" asp-action="Index" asp-controller="Home">Trang Chủ</a> <span class="mx-2 mb-0">/</span> <i class="fas fa-paw pr-1"></i> <strong class="text-black">Thú Cưng</strong></div>
            </div>
        </div>
    </div>
}
<div class="row m-1 p-1">

    <div id="categories" class="col-3">
        <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Danh mục</h3>
            <div>
                <vc:species-navigation />
            </div>
        </div>

        <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Tìm kiếm</h3>
            <form asp-controller="Home" asp-action="ThuCung" method="get">
                <input class="form-control mb-2" placeholder="Tìm kiếm" type="text" name="SearchString">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>

    @foreach (var item in Model.Pet)
    {
        <partial name="ProductTemplate" model="item" />
    }
</div>

<div page-model="@Model.PagingInfo" page-action="ThuCung" page-classes-enabled="true"
     page-class="btn border" page-class-normal="btn-outline-primary"
     page-class-selected="btn-primary" page-url-species="@Model.CurrentSpecies" class="btn-group pull-right m-1 pl-4">
</div>

