@model IEnumerable<PetShop.Data.Pet>

@section breadcrum{
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><i class="fa fa-home pr-1"></i><a class="text-decoration-none" asp-action="Index" asp-controller="Home">Trang Chủ</a> <span class="mx-2 mb-0">/</span><strong class="text-black">Toàn bộ sản phẩm</strong></div>
            </div>
        </div>
    </div>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3" data-aos="fade-up">
            <div class="card my-2 store-card">
                <a class="a-cleanup" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                    <img src="@item.ProfilePicture" class="card-img-top card-img-custom">
                </a>
                <div class="card-body">
                    <partial name="CartTemplate" model="item" />
                </div>
            </div>
        </div>
    }
</div>