@model IEnumerable<string>

@foreach (string species in Model)
{
<a class="text-decoration-none text-secondary
    @(species == ViewBag.SelectedSpecies ? "btn-white": "btn-outline-white")" style="display: flex; flex-direction: column"
   asp-action="ThuCung" asp-controller="Home"
   asp-route-species="@species"
   asp-route-ProductPage="1">@species
</a>

    }
